// #carousellists {
//   width: 60%;
//   height: 10px;
// }
#carousellists {
  width: 80%;
  margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #000;
  width: 5%;
}

.no-carousel {
  font-family: $headers-font;
  text-align: center;
  color: goldenrod;
  padding: 40px 0;
}
